<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDb"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=MyAppDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
      <add key="VerificationBaseUrl" value="https://CHANGE-ME-TO-YOUR-SERVER" />
      <add key="AdminPinSalt" value="mdzP1/O9CdpBFIpuKS+QOw==" />
      <add key="AdminPinHash" value="wSB/S/IFZ3rEy5ONoaDxxxmeE3+/Gu9IoSRz6okGY0U=" />
      <add key="UserAllowedSections" value="Certificates,Clients,DeviceHistory,Financials,Home,Maintenance,StickerDesigner" />
      <add key="A4PrinterName" value="Microsoft XPS Document Writer" />
      <add key="MaintenanceReceiptPrinterName" value="Microsoft Print to PDF" />
      <add key="MaintenanceReceipt.Counter" value="6" />
      <add key="MaintenanceReceiptSticker.Counter" value="5" />
      <add key="MaintenanceReceiptStickerScale" value="0.9700000000000001" />
      <add key="MaintenanceReceiptStickerOffsetX" value="1" />
      <add key="MaintenanceReceiptStickerOffsetY" value="0" />
      <add key="MaintenanceReceiptStickerPrinterName" value="Microsoft Print to PDF" />
      <add key="MaintenanceReceiptIsLetterhead" value="True" />
      <add key="MaintenanceReceiptOffsetY" value="80" />
      <add key="MaintenanceReceiptTopMargin" value="94.49438202247191" />
      <add key="MaintenanceReceiptFrameColor" value="أزرق فاتح" />
      <add key="MaintenanceReceiptBottomMargin" value="101.12359550561798" />
      <add key="MaintenanceReceiptOffsetX" value="5.393258426966286" />
      <add key="ClientReportFrameColor" value="أزرق كحلي" />
      <add key="ClientReportOffsetY" value="41.348314606741575" />
  </appSettings>
</configuration>
