<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDb"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=MyAppDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="VerificationBaseUrl" value="https://vnumera.cashierpro-cloud.com/v1/verify" />
    <add key="CloudApiBase" value="https://vnumera.cashierpro-cloud.com" />
    <add key="CloudApiKey" value="fb3a9c12d7e54a8f309b2c6de1457f90c3ab8d6e1f2c4b5a7689e0f1d2c3b4a5" />
  </appSettings>
</configuration>
