<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDb"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=MyAppDb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="VerificationBaseUrl" value="https://vnumera.cashierpro-cloud.com/v1/verify" />
  </appSettings>
</configuration>
